@(cave: Cave)

@main("Cavavin") {
    <div class="container" style="padding-top:80px">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="half-unit">
                    <dtitle>Nombre de bouteilles</dtitle>
                    <hr>
                    <div class="cont">
                        <p><bold>@Bouteille.getAvailableBottles(cave).size()</bold></p>
                    </div>
                </div>
                <div class="half-unit">
                    <dtitle>Valeur de la cave</dtitle>
                    <hr>
                    <div class="cont">
                        <p><bold>
                            145.00 €</bold></p>
                        <p><img src=@routes.Assets.versioned("images/up-small.png") alt=""> 200.00€ Max.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <dtitle>Coup d'oeil</dtitle>
                    <hr>
                    <div class="cont">
                        <p><bold>@Bouteille.getAvailableRedBottles(cave).size()</bold> | Bouteilles de Rouge</p>
                        <br>
                        <p><bold>@Bouteille.getAvailableRoseBottles(cave).size()</bold> | Bouteilles de Rosé</p>
                        <br>
                        <p><bold>@Bouteille.getAvailableWhiteBottles(cave).size()</bold> | Bouteilles de Blanc</p>
                        <br>
                        <p><bold>@Bouteille.getAvailableOtherBottles(cave).size()</bold> | Autres Bouteilles</p>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <dtitle>Activité de ma cave</dtitle>
                    <hr>
                    <div class="cont">
                        <p><bold>@cave.bouteilles.size()</bold> | <ok>Bouteilles Ajoutées</ok></p>
                        <p>dont <bold>@Bouteille.getGiftBottles(cave).size()</bold> | Reçues <i class="fa fa-2x fa-gift"></i></p>
                        <br>
                        <p><bold>@Bouteille.getDrunkBottles(cave).size()</bold> | <bad>Bouteilles Consommées</bad></p>
                        <p>dont <bold>@Bouteille.getGiveAsGiftBottles(cave).size()</bold> | Offertes <i class="fa fa-2x fa-gift"></i></p>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="dash-unit">
                    <dtitle>QR Code de ma cave</dtitle>
                    <hr>
                    <div class="cont2">
                        <img src=@routes.Assets.versioned(cave.qr_code) style="width:150px;max-width:95%;padding-top:20px" alt="">
                        <br>
                        <br>
                        <a class="button" href="@routes.Assets.versioned(cave.qr_code)" download="QR_code_de_ma_cave.jpg">Télécharger mon QR code</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rouge</h3>
            </div>
            <div class="panel-body">
                @liste_bouteille(Bouteille.getAvailableRedBottles(cave))
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rosé</h3>
            </div>
            <div class="panel-body">
                @liste_bouteille(Bouteille.getAvailableRoseBottles(cave))
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Blanc</h3>
            </div>
            <div class="panel-body">
                @liste_bouteille(Bouteille.getAvailableWhiteBottles(cave))
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Autre</h3>
            </div>
            <div class="panel-body">
                @liste_bouteille(Bouteille.getAvailableOtherBottles(cave))
            </div>
        </div>
    </div>
}

<script src="@routes.Assets.versioned("javascripts/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/noty/jquery.noty.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/noty/layouts/top.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/noty/layouts/topLeft.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/noty/layouts/topRight.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/noty/layouts/topCenter.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/noty/themes/default.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/jquery.flexslider.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/admin.js")" type="text/javascript"></script>
