@(form: Form[_])

@main("Welcome to Play") {
    <div class="clearfix add-bottle-container col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        @helper.form(routes.BouteillesController.doAddBottle(), 'class -> "cmxform", 'id -> "signUpForm") {
            <h1 class="text-center">Ajouter des bouteilles</h1>
            <legend></legend>
            <div class="form-group row">
                <label class="col-xs-4" for="domaine">Domaine :</label>
                <div class="col-xs-8">
                    <input id="domaine" name="domaine" value="" type="text" placeholder="Ex : Chateau Pavie">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4" for="appellation">Appellation : </label>
                <div class="col-xs-8">
                    <input id="appellation" name="appellation" value="" type="text" placeholder="Ex : Saint Emilion Grand Cru">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4" for="millesime">Millesime : </label>
                <div class="col-xs-8">
                    <input id="millesime" name="millesime" value="2014" type="number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4" for="millesime">Catégorie : </label>
                <div class="col-xs-8">
                @helper.select(form("couleur"),
                    models.Couleur.getCouleurs().map(n => n.getCode -> n.getName),
                    '_default -> "--",
                    '_label -> null,
                    '_showConstraints -> false)
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4" for="volume_bouteille">Volume (cl) :</label>
                <div class="col-xs-8">
                    <input id="volume_bouteille" name="volume_bouteille" value="70" type="number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4" for="nbr_bouteille">Quantité :</label>
                <div class="col-xs-8">
                    <input id="nbr_bouteille" name="nbr_bouteille" value="1" type="number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-6" for="isGift">C'est un cadeau !</label>
                <div class="col-xs-6">
                    <input type="checkbox" id="isGift" name="isGift" value="true">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xs-4" for="infos">Informations : </label>
                <div class="col-xs-8">
                    <textarea id="infos" name="infos" placeholder="Ex : Offert par... ou acheté à l'occasion de..."></textarea>
                </div>
            </div>
            @if(form.hasErrors) {
                <span>@form.errors</span>
            }
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="submit btn btn-large form-control" type="submit" value="Ajouter">
                </div>
            </div>
        }
    </div>
}