@(bouteille: Bouteille)

@main("Cavavin") {
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@bouteille.appellation</h3>
            @bouteille.qr_code
        </div>
        <div class="panel-body">
            <img src=@routes.Assets.versioned(bouteille.qr_code) />
        </div>
        <div class="panel-footer">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="@routes.BouteillesController.deleteBottle(bouteille.id)">Boire cette bouteille</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
}