@(message: String)

@main("Cavavin") {
        <div class="container">
            <center>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="glyphicon glyphicon-glass"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@models.Bouteille.findAll().size()</div>
                                    <div>Bouteilles dans ma cave</div>
                                </div>
                            </div>
                        </div>
                        <a href="@routes.BouteillesController.getBottleList()">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@models.Bouteille.findRedBottles().size()</div>
                                    <div>Bouteilles de rouge</div>
                                </div>
                            </div>
                        </div>
                        <a href="@routes.BouteillesController.getRedBottleList()">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@models.Bouteille.findRoseBottles().size()</div>
                                    <div>Bouteilles de rosé</div>
                                </div>
                            </div>
                        </div>
                        <a href="@routes.BouteillesController.getRoseBottleList()">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@models.Bouteille.findWhiteBottles().size()</div>
                                    <div>Bouteilles de blanc</div>
                                </div>
                            </div>
                        </div>
                        <a href="@routes.BouteillesController.getWhiteBottleList()">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </center>
        </div>
}
