@(cave: Cave)

@main("Cavavin") {

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Couleur</th>
                <th>Appelation</th>
                <th>Domaine</th>
                <th>Millesime</th>
                <th>Date de création</th>
                <th>Date d'utilisation</th>
                <th>Disponible</th>
                <th>Cadeau</th>
            </tr>
        </thead>
        <tbody>
            @for(bouteille <- cave.bouteilles) {
                <tr>
                    <td>@bouteille.couleur</td>
                    <td>@bouteille.appellation</td>
                    <td>@bouteille.domaine</td>
                    <td>@bouteille.millesime</td>
                    <td>@bouteille.date_creation</td>
                    <td>@bouteille.date_utilisation</td>
                    <td>@bouteille.isAvailable</td>
                    <td>@bouteille.isGift</td>
                </tr>
            }
        </tbody>
    </table>
}