@(bouteilles: List[Bouteille])

<div class="container">
    <div id="pricing-table" class="clear">
        @for(bouteille <- bouteilles) {
            <div class="plan col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3 class="@bouteille.couleur.getName()">@bouteille.appellation<span>@bouteille.millesime</span></h3>
                <a class="signup" href="@routes.BouteillesController.bottleDetails(bouteille.id)">Détails</a>
                @if(bouteille.isGift == true){
                    <i class="fa fa-3x fa-gift" alt="C'est un cadeau !" style="cursor:default"></i>
                }
                <ul>
                    <li>Domaine : <b>@bouteille.domaine</b></li>
                    <li>Volume : <b>@bouteille.volume_bouteille</b> cl</li>
                    <li>Ajoutée le : <b>@bouteille.date_creation.format("dd MMM yyyy")</b></li>
                </ul>
            </div>
        }
    </div>
</div>
