@(bouteilles: List[Bouteille])

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Couleur</th>
                <th>Appellation</th>
                <th>Domaine</th>
                <th>Millesime</th>
                <th>Date d'ajout</th>
            </tr>
        </thead>
        <tbody>
            @for(bouteille <- bouteilles){
            <tr>
                <td>@bouteille.couleur.getName</td>
                <td><a href="@routes.BouteillesController.bottleDetails(bouteille.id)"/>@bouteille.appellation</td>
                <td>@bouteille.domaine</td>
                <td>@bouteille.millesime</td>
                <td>@bouteille.date_creation.format("dd MMM yyyy")</td>
            </tr>
            }
        </tbody>
    </table>
</div>
