@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/table.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href=@routes.Assets.versioned("stylesheets/bootstrap.css")>
        <link href=@routes.Assets.versioned("stylesheets//font-style.css") rel="stylesheet">
        <link href=@routes.Assets.versioned("stylesheets//flexslider.css") rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="navbar-nav navbar-inverse navbar-fixed-top" style="margin-bottom=15px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">Cavavin</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    @defining(controllers.Application.getLocalUser(session())) { user =>
                        @if(user == null) {
                            <li><a href="@routes.UsersController.signup()">Sign up</a></li>
                            <li><a href="@routes.UsersController.login()">Sign in</a></li>
                        } else {
                            <li class="active"><a href="@routes.CaveController.showCave()">
                                Ma Cave <span class="sr-only">(current)</span></a></li>
                            <li><a href="@routes.BouteillesController.addBottle()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                Ajouter une bouteille</a></li>
                            <li><a href="@routes.UsersController.logout()">Logout</a></li>
                        }
                    }
                    </ul>
                </div>
            </div>
        </div>
        @content
    </body>
</html>
