@(inForm: Form[_])

@main("cavavin") {

    <div class="clearfix sign-in-container">
        <div class="col-xs-12 text-center">
        @helper.form(routes.UsersController.doLogin(), 'class -> "cmxform", 'id -> "signUpForm") {
            <h1>Se Connecter</h1>
            <legend>Accéder à ma cave</legend>
            <div class="form-group  " id="email_field">
                <div class="col-sm-12">
                    <input id="email" name="email" placeholder="Email" type="text" class="form-control">
                    <input id="password" name="password" placeholder="Mot de passe" type="password" class="form-control">
                    @if(inForm.hasGlobalErrors) {
                        <span>@inForm.globalError.message</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="submit btn btn-large form-control" type="submit" value="Se Connecter">
                </div>
            </div>
        }
        </div>
    </div>
}