@(inForm: Form[_])

@main("cavavin") {

<div class="container" style="background:url(@routes.Assets.versioned("images/bg.jpg")) no-repeat top center;width=100%;height:100vh;">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-3" style="margin-top:100px">
            <h1>Se Connecter</h1>
            <div class="block-unit" style="text-align:center; padding:8px 8px 8px 8px;">
                @helper.form(routes.UsersController.doLogin(), 'class -> "cmxform", 'id -> "signUpForm") {
                    <fieldset>
                        <p>
                            <input id="email" name="email" placeholder="Email" type="text" class="form-control">
                            <input id="password" name="password" placeholder="Mot de passe" type="password" class="form-control">
                        </p>
                        @if(inForm.hasGlobalErrors) {
                            <span class="error">@inForm.globalError.message</span>
                        }
                        <input class="submit btn-success btn btn-large form-control" type="submit" value="Login">
                        <a class="" href="@routes.UsersController.signup()">Créer un compte</a>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
}

<script src="@routes.Assets.versioned("javascripts/bootstrap.js")" type="text/javascript"></script>