@(inForm: Form[_])

@import helper._

@main("cavavin") {
@helper.form(routes.UsersController.doLogin(), 'class -> "signup-form form-horizontal") {
<div class="container">
    <div class="row">
        <div class="row clearfix">
            <div class="col-xs-12">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <center>
                                <h1>Se connecter</h1>
                            </center>
                            @if(inForm.hasGlobalErrors) {
                            <span class="error">@inForm.globalError.message</span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <div">
                            @inputText(
                            inForm("email"),
                            'class -> "form-control",
                            '_showConstraints -> false,
                            'placeholder -> "Email"
                            )
                            @inputPassword(
                            inForm("password"),
                            'class -> "form-control",
                            '_showConstraints -> false,
                            'placeholder -> "Mot de passe"
                            )
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <a href="">Mot de passe oublié ?</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-blue col-xs-12">Valider</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <a href="@routes.UsersController.signup()">Créer un compte</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
}
}